.container{
    border: 1px solid black;
    height: 110px;
    text-align: center;
}
.childOne{
    border: 1px solid black;
    height: 60px;
    display: flex;
    background-color: #131921;
    color: white; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.childTwo{
    border: 1px solid black;
    height: 50px;
    text-align: center;
    background-color: #232f3e;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logoStyles{
    width: 10%;
    height: 80%;  
}
.logoStyles:hover{
    border: 1px solid yellow;
    cursor: pointer;
}

.EN:hover{
    border: 1px solid yellow;
    cursor: pointer;
}

.defaultStyle:hover{
    border: 1px solid white;
    padding: 5px;
}
.activeStyle{
    border: 1px solid white;
    padding: 5px;
}
.inputPerent{
    width: 80%;
    height: 100%;
    border: none;
}
.inputBoxStyle{
    width:100%;
    height:100%;
    outline:none;
    color:black;
    font-size:20px;
}


/* small screen */

@media all and (min-width:320px) and (max-width:767px){
    .childTwo{
    display: none;
    }
    .EN{
        display: mone;
    }
}

/* midium screen */

@media all and (min-width:768px) and (max-width:1024px){

}